.btn-group {
    left: 20%;
    width: 60%
}
.btn-left {
    left: 20%;
}
.scroll-con {
    left:37.5%;
    width: 25%;
}
.page-con {
    width: 50%;
}
.square-con {
    left: 13%;
    width: 25%
}
.session-con {
    width: 50%;
}
.btn-img {
    width: 100%;
}